@import "tailwindcss";

@theme {
    --color-primary: #780000;
    --color-secondary: #fdf0d5;
    --color-three: #003049;
    --color-four: #669bbc;
    --font-oswald: "Oswald", "sans-serif"; 
}

.btn {
    @apply px-4 py-2 cursor-pointer rounded-lg font-medium capitalize border;
}

.btn-primary {
    @apply bg-primary text-secondary transition-colors ease-in-out duration-300 hover:bg-secondary hover:text-primary
}


.active-link {
    @apply bg-secondary text-primary
}